<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
       
      <% # This should be in a own partial for the menu? %>
      
      <% if is_logged_in? %>
        <div class="alert alert-success" role="alert">Logged in as <%= current_user.screenname %></div>
        <%= link_to "Add player", new_player_path %>
        <%= link_to "Log out", logout_path %>
      <% end %>
     
      <%= yield %>
      
      <%= render 'layouts/footer' %>
   
  </div>

</body>
</html>
